DJANGO_SECRET_KEY = <YOUR SECRET KEY HERE>
DJANGO_ALLOWED_HOSTS = <YOUR_HOST>
DJANGO_DEBUG = FALSE
DJANGO_CSRF_TRUSTED_ORIGINS = http://<YOUR_HOST>:8080
STATIC_ROOT = /data/static

MEDIA_ROOT = /data/media
GIGACHAT_CREDENTIALS = <YOUR CREDENTIALS HERE>

CHROMA_HOST = chroma
CHROMA_PORT = 8000
CHROMA_SSL = False

POSTGRES_DB = postgres
POSTGRES_USER = rag_user
POSTGRES_PASSWORD = <YOUR POSTGRES PASSWORD>
POSTGRES_HOST = postgres
POSTGRES_PORT = 5432

RAG_RELEVANCE_DISTANCE_THRESHOLD = 0.45
RAG_CHUNK_SIZE = 300
RAG_CHUNK_OVERLAP = 50
