DJANGO_SECRET_KEY = 
MEDIA_ROOT = /data/media
GIGACHAT_CREDENTIALS = 
CHROMA_PATH = /data/chroma
DJANGO_ALLOWED_HOSTS = []
DJANGO_DEBUG = True

POSTGRES_DB = rag_db
POSTGRES_USER = rag_user
POSTGRES_PASSWORD =
POSTGRES_HOST = db
POSTGRES_PORT = 5432

RAG_RELEVANCE_DISTANCE_THRESHOLD = 
RAG_CHUNK_SIZE = 
RAG_CHUNK_OVERLAP = 