DJANGO_SECRET_KEY = 
DJANGO_ALLOWED_HOSTS = django
DJANGO_DEBUG = True
DJANGO_CSRF_TRUSTED_ORIGINS = http://localhost:8080
STATIC_ROOT = /data/static

MEDIA_ROOT = /data/media
GIGACHAT_CREDENTIALS = 

CHROMA_HOST = chroma
CHROMA_PORT = 8000
CHROMA_SSL = False

POSTGRES_DB = postgres
POSTGRES_USER = rag_user
POSTGRES_PASSWORD = 
POSTGRES_HOST = postgres
POSTGRES_PORT = 5432

RAG_RELEVANCE_DISTANCE_THRESHOLD = 0.45
RAG_CHUNK_SIZE = 300
RAG_CHUNK_OVERLAP = 50
