{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}RAG App{% endblock %}</title>

    <!-- Общие стили -->
    <link rel="stylesheet" href="{% static 'core/css/base.css' %}">

    <!-- Стили конкретной страницы -->
    {% block extra_css %}{% endblock %}
</head>
<body>

<header class="top-bar">
  <div class="header-inner">
    <div class="logo">RAG System</div>

    <nav class="auth-nav">
      {% if user.is_authenticated %}
        <a class="user-link"
           href="{% if user.role == 'teacher' %}
                    {% url 'teacher_profile' %}
                  {% else %}
                    {% url 'student_profile' %}
                  {% endif %}">
          {{ user.username }}
        </a>

        <form method="post" action="{% url 'logout' %}">
          {% csrf_token %}
          <button class="auth-button">Выйти</button>
        </form>
      {% else %}
        <a href="{% url 'login' %}" class="auth-button">Войти</a>
      {% endif %}
    </nav>
  </div>
</header>

<main class="page-content">
  {% block content %}{% endblock %}
</main>

<footer class="site-footer">
  <p>Учебный проект • Фролова Мария</p>
</footer>

</body>
</html>
